*,
*:after,
*:before { box-sizing: border-box; }
.row { display: -ms-flexbox; display: flex; }
.container {
	max-width: 1400px;
	margin: auto;
}
[class*=col-] {
	-ms-flex: 1;
	    flex: 1;
	padding: 1rem;
}
.module {
	padding: 1rem;
	background-color: #ddd;
}
.col-1 { -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; }
.col-2 { -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; }
.col-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; }
.col-4 { -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; }
.col-5 { -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; }
.col-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; }
.col-7 { -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; }
.col-8 { -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; }
.col-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; }
.col-10 { -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; }
.col-11 { -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; }
.col-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; }
.offset-1 { margin-left: 8.33333%; }
.offset-2 { margin-left: 16.66667%; }
.offset-3 { margin-left: 25%; }
.offset-4 { margin-left: 33.33333%; }
.offset-5 { margin-left: 41.66667%; }
.offset-6 { margin-left: 50%; }
.offset-7 { margin-left: 58.33333%; }
.offset-8 { margin-left: 66.66667%; }
.offset-9 { margin-left: 75%; }
.offset-10 { margin-left: 83.33333%; }
.offset-11 { margin-left: 91.66667%; }
.offset-12 { margin-left: 100%; }
@media only screen and (max-width: 850px) {
	.row { -ms-flex-direction: column; flex-direction: column; }
	[class*=offset-] { margin-left: 0; }
}