/*
    
    Kindling
    —
    timothylong.com/kindling

*/

/* Presets */

	* {
		margin: 0;
		padding: 0;
		position: relative;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	body {
		font: 300 16px/1.5 sans-serif;
		letter-spacing: 0.01rem;
		-webkit-font-smoothing:antialiased;
		-moz-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		text-rendering: optimizeLegibility;
	}
	a { outline:0; }

/* Grid */

	.row:before,.row:after { content:" "; display:table; }
	.row:after { clear: both; }
	.row { margin-bottom:2%; }
	.bottom { margin-bottom:0; }
	[class*=span-] { display:block; float:left; width:100%; margin-left:2%; }
	[class*=span-]:first-child { margin-left:0; }
	[class*=span-] img { max-width:100%; display: block; }

	/* Columns */

	.span-1 { width:6.5%; }
	.span-2 { width:15.0%; }
	.span-3 { width:23.5%; }
	.span-4 { width:32.0%; }
	.span-5 { width:40.5%; }
	.span-6 { width:49.0%; }
	.span-7 { width:57.5%; }
	.span-8 { width:66.0%; }
	.span-9 { width:74.5%; }
	.span-10 { width:83.0%; }
	.span-11 { width:91.5%; }
	.span-12 { width:100%; }

	/* Offsets */
    
	.offset-1 { margin-left:6.5%; }
	.offset-2 { margin-left:17.0%; }
	.offset-3 { margin-left:25.5%; }
	.offset-4 { margin-left:34.0%; }
	.offset-5 { margin-left:42.5%; }
	.offset-6 { margin-left:51.0%; }
	.offset-7 { margin-left:59.5%; }
	.offset-8 { margin-left:68.0%; }
	.offset-9 { margin-left:76.5%; }
	.offset-10 { margin-left:85.0%; }
	.offset-11 { margin-left:93.5%; }

/* Typography */

	h1,h2,h3,h4,h5,h6 {
		line-height:1.5;
		font-weight:300;
		margin:0 0 2rem;
	}
	h1 { font-size:300%; }
	h2 { font-size:250%; }
	h3 { font-size:200%; }
	h4 { font-size:125%; }
	h5 { font-size:100%; }
	h6 { font-size:80%; }
	p { margin-bottom:2rem; }

/* Mobile */

	@media only screen and (max-width:800px) {
		.row {
			margin:0;
		}
		[class*=span-] {
			width:100%;
			margin-bottom: 2%;
		}
		[class*=span-], [class*=offset-] {
			margin-left: 0;
		}
	}