/*
    
    Kindling
    —
    timothylong.com/kindling

*/

/* Reset */

	* {
		margin: 0;
		padding: 0;
		position: relative;
		box-sizing:border-box;
	}

/* Grid */

	.row { display: -webkit-flex; display: -ms-flexbox; display: flex; }
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	[class*=span-] { -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-left:2%; }
	[class*=span-]:first-child { margin-left:0; }

	/* Columns */

	.span-1 { -webkit-flex: 0 0 6.5%; -ms-flex: 0 0 6.5%; flex: 0 0 6.5%; }
	.span-2 { -webkit-flex: 0 0 15%; -ms-flex: 0 0 15%; flex: 0 0 15%; }
	.span-3 { -webkit-flex: 0 0 23.5%; -ms-flex: 0 0 23.5%; flex: 0 0 23.5%; }
	.span-4 { -webkit-flex: 0 0 32%; -ms-flex: 0 0 32%; flex: 0 0 32%; }
	.span-5 { -webkit-flex: 0 0 40.5%; -ms-flex: 0 0 40.5%; flex: 0 0 40.5%; }
	.span-6 { -webkit-flex: 0 0 49%; -ms-flex: 0 0 49%; flex: 0 0 49%; }
	.span-7 { -webkit-flex: 0 0 57.5%; -ms-flex: 0 0 57.5%; flex: 0 0 57.5%; }
	.span-8 { -webkit-flex: 0 0 66%; -ms-flex: 0 0 66%; flex: 0 0 66%; }
	.span-9 { -webkit-flex: 0 0 74.5%; -ms-flex: 0 0 74.5%; flex: 0 0 74.5%; }
	.span-10 { -webkit-flex: 0 0 83%; -ms-flex: 0 0 83%; flex: 0 0 83%; }
	.span-11 { -webkit-flex: 0 0 91.5%; -ms-flex: 0 0 91.5%; flex: 0 0 91.5%; }
	.span-12 { -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; }

	/* Offsets */
    
	.offset-1 { margin-left:6.5%; }
	.offset-2 { margin-left:19%; }
	.offset-3 { margin-left:27.5%; }
	.offset-4 { margin-left:36%; }
	.offset-5 { margin-left:44.5%; }
	.offset-6 { margin-left:53%; }
	.offset-7 { margin-left:61.5%; }
	.offset-8 { margin-left:70%; }
	.offset-9 { margin-left:76.5%; }
	.offset-10 { margin-left:89%; }
	.offset-11 { margin-left:97.5%; }

/* Mobile */

	@media only screen and (max-width:800px) {
		.row { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
		[class*=span-], [class*=offset-] {
			margin-left: 0;
		}
	}